@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Kanit:wght@300&display=swap");

html,
body {
  height: 100%;
  /* overflow-x: hidden; */
  margin: 0 auto;
  font-family: "Kanit", sans-serif;
  box-sizing: border-box; /* include border in width/height calculation */
  overflow-x: hidden; /* hide content that extends beyond viewport width */
}

* {
  margin: 0;
  padding: 0;

  font-size: 100%;

  /* font-family: "Kanit", sans-serif; */
  box-sizing: border-box;
}

header {
  display: flex;

  width: 100vw;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
  box-shadow: 0 1px 8px #ddd;
}

#nav-title {
  font-family: "Fasthand", sans-serif;
  font-size: 2rem;

  margin-right: auto;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header a {
  text-decoration: none;
  color: #555;
  transition: all 0.3s ease 0s;
}

header a:hover {
  color: #b2dfdb;
}

.ordering-title {
  font-family: "Fasthand", sans-serif;
  font-size: 3rem;
  text-align: center;
  height: 100px;
  width: 100%;
  line-height: 100px;
}

.ordering-wrapper {
  display: flex;
  flex-direction: column;
}

.orders {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
}

.card {
  width: 300px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 5px;
}

.card img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 20px;
  object-fit: cover;
  object-position: center;
}

.card h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.meal-btns {
  display: flex;
  gap: 2rem;
}

.read-btn {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #24292e;
  background-color: #fafbfc;
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
}

.read-btn:hover {
  background-color: #f3f4f6;
  border-color: #1b1f2326;
  transition-duration: 0.1s;
}

.order-btn {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #2c974b;
  background-color: white;
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
}

.order-btn:hover {
  background-color: #2c974b;
  color: white;
  border-color: #1b1f2326;
  transition-duration: 0.1s;
}

.login-wrapper {
  height: 100% !important;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LOGIN FORM  */

.login-form {
  width: 500px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form label {
  margin-bottom: 10px;
}

.login-page {
  font-family: "Kanit", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page h1 {
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.login-btn {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 5px 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #2ea44f;
  background-color: white;
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
}

.login-btn:hover {
  background-color: #2c974b;
  color: white;
  border-color: #1b1f2326;

  transition-duration: 0.1s;
}

.login-wrapper {
  border: 3px solid rgb(28, 184, 65);
  border-radius: 4px;
  width: 500px;
}

.logout-btn {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #2c974b;
  background-color: white;
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
  text-decoration: none;
}

.logout-btn:hover {
  background-color: #2c974b;
  color: white;
  border-color: #1b1f2326;
  transition-duration: 0.1s;
}

.reg-btn {
  margin-top: 5px;
  background-color: #e7e7e7;
  color: black;
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.5s;
}

.reg-btn:hover {
  color: #e7e7e7;
  background: black;
}

.burg-btn {
  display: none;
}

@media only screen and (max-width: 768px) {
  .hide-btn {
    display: none;
  }
  .burg-btn {
    display: inline;
    cursor: pointer;
  }

  .orders {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 865px) {
  .ordering-title {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 480px) {
  .orders {
    grid-template-columns: repeat(1, 1fr);
  }

  .ordering-title {
    font-size: 1.25rem;
  }
}

.orders-page {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Order page  */

.orders-page h1 {
  font-size: 2rem;
}

.order-table {
  margin: 15px;
  border: 1px solid black;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-size: 2rem;

  width: 500px;
}

.order-table thead td {
  border: 1px solid black;
  padding: 15px;
}

.table-body td {
  border: 1px solid black;
}

.table-body tr td {
  padding: 15px;
}

.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.remove-btn {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: white;
  background-color: red;
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
  text-decoration: none;
}

.remove-btn:hover {
  background-color: white;
  color: red;
  border-color: #1b1f2326;
  transition-duration: 0.1s;
}

.menu-btn {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #24292e;
  background-color: #fafbfc;
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
  text-decoration: none;
}

.menu-btn:hover {
  background-color: #f3f4f6;
  border-color: #1b1f2326;
  transition-duration: 0.1s;
}

.modal {
  position: absolute;
  height: 100%;
  width: 100vw;
  z-index: 9999;
  background-color: #2c974b;
}

.modal-btn {
  text-decoration: none;
  color: white;
}

.prev-orders-wrapper {
  display: flex;
  max-width: 1400px;
  height: 100%;
  gap: 24px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  background-color: #2c974b;
  color: white;
}

.prev-order-heading {
  font-family: "Fasthand", sans-serif;
  padding: 5px;
  font-size: 40px;
}

.burger-icon {
  color: white;
}

.prev-order-div {
  border: 1px solid white;
  min-height: 80px;
  display: flex;
  border-radius: 5px;
  margin: 10px;
  padding-top: 4px;
  justify-content: flex-start;
}

.order-text {
  padding: 0.5rem;
}

/* vertical scroll bar */

::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar thumb on hover */
}
